@charset "UTF-8";
$direction: rtl;
$direction_upside: ltr;
$direction_angle: '-';
$direction_upside_angle: '+';
$direction_start: right;
$direction_end: left;

@if $direction == ltr {
	$direction_upside: rtl;
	$direction_angle: '+';
    $direction_upside_angle: '-';
	$direction_start: left;
	$direction_end: right;
}

body {
	direction: $direction;
}
/* ==== 
 --------- (3.01) buttons styles start ---------
 ==== */
// button styles
.btn {
  padding:16px 32px;
  font-weight: 700;
  border: 1px solid var(--primary-color);
  border-radius:50px;
  text-transform: uppercase;
  color: var(--primary-color);
  position: relative;
  overflow: hidden;

  &:hover {
    border: 1px solid var(--primary-color);
    color: var(--white);
  }

  &:focus {
    box-shadow: none;
    outline: 0px;
  }
}

.btn--primary {
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    #{$direction_end}: 0px;
    bottom: 0px;
    width: 0px;
    height: 100%;
    background-color: var(--primary-color);
    transition: all 0.6s ease;
    z-index: -1;
  }

  &:hover {
    color: var(--black);
    &::before {
      width: 100%;
      #{$direction_start}: 0px;
    }
  }
}

.btn--secondary {
  z-index: 1;
  color: var(--white);
  border: 1px solid #414141;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    #{$direction_end}: 0px;
    bottom: 0px;
    width: 0px;
    height: 100%;
    background-color: var(--primary-color);
    transition: all 0.6s ease;
    z-index: -1;
  }

  &:hover {
    color: var(--black);
    &::before {
      width: 100%;
      #{$direction_start}: 0px;
    }
  }
}

.btn--tertiary {
  z-index: 1;
  color: var(--primary-color);
  border: 1px solid black !important;
  background-color: #181818;
  gap: 20px;
  display: inline-flex;
  align-items: center;
  text-transform: capitalize;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    #{$direction_end}: 0px;
    bottom: 0px;
    width: 0px;
    height: 100%;
    background-color: var(--primary-color);
    transition: all 0.6s ease;
    z-index: -1;
  }

  &:hover {
    border: 1px solid var(--primary-color);
    color: var(--black);
    &::before {
      width: 100%;
      #{$direction_start}: 0px;
    }
  }
}

// scroll to top with progress
.progress-wrap {
  position: fixed;
  #{$direction_end}: 30px;
  bottom: 30px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  border-radius:50px;
  background-color: #1f1f1f;
  box-shadow: inset 0 0 0 8px #1f1f1f;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 200ms linear;
  z-index: 999;
  overflow: hidden;

  span {
    position: absolute;
    top: 50%;
    #{$direction_start}: 50%;
    transform: translate(50%, -50%);
    width: 34px;
    height: 34px;
    background-color: var(--white);
    border-radius:50%;
    overflow: hidden;
    &::after {
      content: "\f176";
      font-family: "Font Awesome 6 Pro";
      font-weight: 900;
      position: absolute;
      text-align: center;
      line-height: 34px;
      font-size: 16px;
      border-radius:50%;
      color: var(--primary-color);
      #{$direction_start}: 50%;
      top: 50%;
      transform: translate(50%, 200%);
      height: 34px;
      width: 34px;
      cursor: pointer;
      display: block;
      z-index: 1;
      transition: all 200ms linear;
    }

    &::before {
      position: absolute;
      content: "\f176";
      font-family: "Font Awesome 6 Pro";
      font-weight: 900;
      text-align: center;
      line-height: 34px;
      font-size: 16px;
      border-radius:50%;
      color: var(--primary-color);
      #{$direction_start}: 50%;
      top: 50%;
      transform: translate(50%, -50%);
      height: 34px;
      width: 34px;
      cursor: pointer;
      display: block;
      z-index: 2;
      transition: all 200ms linear;
    }
  }

  &:hover {
    span {
      &::before {
        transform: translate(50%, -200%);
      }
      &::after {
        transform: translate(50%, -50%);
      }
    }
  }

  path {
    fill: none;
  }

  .progress-circle {
    path {
      stroke: var(--primary-color);
      stroke-width: 4;
      box-sizing: content-box;
      transition: all 200ms linear;
    }
  }
}

.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

//  video modal button
.video-modal-btn {
  a {
    @include box(84px);
    background-color: var(--primary-color);
    font-size: 20px;
    color: var(--white);
  }
}

@keyframes wave {
  0% {
    transform: translate(50%, -50%) scale(0.6);
  }
  50% {
    transform: translate(50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(50%, -50%) scale(1.7);
    opacity: 0;
  }
}
/* ==== 
 --------- (3.01) buttons styles end ---------
 ==== */

@if $direction == rtl {

    svg[class*=right], svg[class*=left], [class*=right].fas, [class*=left].fas {
        transform: scaleX(-1) !important;
    }

    .product-item__badge {
        transform: rotate(-45deg) translateZ(0) !important;
    }

    #st_gdpr_iframe {
        left: 0 !important;
        right: -5000px;
    }

    .product-form__item select.single-option-selector {
        background-position: calc(23px) calc(1rem + 10px), calc(27px) calc(1rem + 10px);
    }

    .card__badge {
        -ms-transform: rotate(-45deg) translateZ(0);
        -webkit-transform: rotate(-45deg) translateZ(0);
        transform: rotate(-45deg) translateZ(0);
    }
}
