@charset "UTF-8";
$direction: rtl;
$direction_upside: ltr;
$direction_angle: '-';
$direction_upside_angle: '+';
$direction_start: right;
$direction_end: left;

@if $direction == ltr {
	$direction_upside: rtl;
	$direction_angle: '+';
    $direction_upside_angle: '-';
	$direction_start: left;
	$direction_end: right;
}

body {
	direction: $direction;
}
/* ==== 
 --------- (3.03) preloader styles start ---------
 ==== */
#preloader {
  position: fixed;
  top: 0;
  #{$direction_start}: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: var(--theme-bg);
}
#loader {
  display: block;
  position: relative;
  #{$direction_start}: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin-top: -75px; margin-#{$direction_end}: 0; margin-bottom: 0; margin-#{$direction_start}: -75px;
  border-radius:50%;
  border: 3px solid transparent;
  border-top-color: #9370db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  #{$direction_start}: 5px;
  #{$direction_end}: 5px;
  bottom: 5px;
  border-radius:50%;
  border: 3px solid transparent;
  border-top-color: #ba55d3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  #{$direction_start}: 15px;
  #{$direction_end}: 15px;
  bottom: 15px;
  border-radius:50%;
  border: 3px solid transparent;
  border-top-color: #ff00ff;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* ==== 
 --------- (3.03) preloader styles end ---------
 ==== */

@if $direction == rtl {

    svg[class*=right], svg[class*=left], [class*=right].fas, [class*=left].fas {
        transform: scaleX(-1) !important;
    }

    .product-item__badge {
        transform: rotate(-45deg) translateZ(0) !important;
    }

    #st_gdpr_iframe {
        left: 0 !important;
        right: -5000px;
    }

    .product-form__item select.single-option-selector {
        background-position: calc(23px) calc(1rem + 10px), calc(27px) calc(1rem + 10px);
    }

    .card__badge {
        -ms-transform: rotate(-45deg) translateZ(0);
        -webkit-transform: rotate(-45deg) translateZ(0);
        transform: rotate(-45deg) translateZ(0);
    }
}
