@charset "UTF-8";
$direction: rtl;
$direction_upside: ltr;
$direction_angle: "-";
$direction_upside_angle: "+";
$direction_start: right;
$direction_end: left;

@if $direction == ltr {
  $direction_upside: rtl;
  $direction_angle: "+";
  $direction_upside_angle: "-";
  $direction_start: left;
  $direction_end: right;
}

body {
  direction: $direction;
}
/* ==== 
 --------- (2.01) reset styles start ---------
 ==== */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  &::-moz-selection {
    color: #ffffff;
    background-color: #1770c8;
  }

  &::selection {
    color: #ffffff;
    background-color: #1770c8;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--theme-font);
  font-size: 16px;
  line-height: 0px;
  font-weight: 400;
  color: var(--theme-color);
  background-color: var(--theme-bg);
  overflow-x: clip;
  max-width: 100vw;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #cae6f7;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
  }
}

.body-active {
  height: 100vh;
  overflow: clip;
}

.my-app {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: clip;
}

button {
  background-color: transparent;
  border: 0px;
  outline: 0px;
}

a,
button {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  outline: 0px;
  border: 0px;
  transition: var(--transition);
  cursor: pointer;

  i {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    transition: none;
  }

  &:hover {
    text-decoration: none;
    border: 0px;
    outline: 0px;
  }
  &:focus {
    box-shadow: none;
    outline: 0px;
  }
}

ul,
ol {
  list-style-type: none;
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
}

hr,
blockquote,
textarea {
  margin: 0px;
}

input,
textarea {
  border: 0px;
  outline: 0px;

  &:focus {
    box-shadow: none;
  }
}

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0px;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="checkbox"] {
  width: initial;
  height: initial;
}

textarea {
  min-height: 150px;
  resize: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
}

iframe {
  border: 0px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--inter);
  padding: 0px;
  margin: 0px;
  color: var(--theme-color);
}

.container {
  padding-#{$direction_start}: 15px !important;
  padding-#{$direction_end}: 15px !important;
}

.container-fluid {
  padding-#{$direction_start}: 15px !important;
  padding-#{$direction_end}: 15px !important;
}

.row {
  margin-#{$direction_start}: -15px !important;
  margin-#{$direction_end}: -15px !important;
}

.row > * {
  padding-#{$direction_start}: 15px !important;
  padding-#{$direction_end}: 15px !important;
}

/* ==== 
     --------- (2.01) reset styles end ---------
     ==== */

@if $direction == rtl {
  svg[class*="right"],
  svg[class*="left"],
  [class*="right"].fas,
  [class*="left"].fas {
    transform: scaleX(-1) !important;
  }

  .product-item__badge {
    transform: rotate(-45deg) translateZ(0) !important;
  }

  #st_gdpr_iframe {
    left: 0 !important;
    right: -5000px;
  }

  .product-form__item select.single-option-selector {
    background-position: calc(23px) calc(1rem + 10px),
      calc(27px) calc(1rem + 10px);
  }

  .card__badge {
    -ms-transform: rotate(-45deg) translateZ(0);
    -webkit-transform: rotate(-45deg) translateZ(0);
    transform: rotate(-45deg) translateZ(0);
  }
}
