// Import SCSS source files directly (so changes take effect immediately)
// Note: Vendor CSS files are loaded via CSSLoader component (see components/CSSLoader.tsx)
// because @import url() doesn't work in Next.js SCSS compilation
@import '../styles/scss/main.scss';

